@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

/* HEADER */

header {
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 40px;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

.menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

.menu-desktop nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .4s;
}

.menu-desktop nav a:hover {
    transform: scale(1.1);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .hero-site button:hover {
    background-color: white;
    color: black;
}

/* HERO */

section.hero-site {
    height: 95vh;
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    font-weight: 200;
    line-height: 70px;
}

.hero-site .txt-hero h1 span {
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0px;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}