/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E3E3E3;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button, .hoteis button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover, .hero-site button:hover, .hoteis button:hover {
    background-color: white;
    color: black;
}

/* HEADER */

header {
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 9;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 40px;
}

/* MENU DINAMICO */

header .logo img.logo-preta {
    display: none;
}

header.rolar {
    background-color: white;
    padding: 20px 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
}

header.rolar .menu-desktop nav ul li a {
    color: black;
}

header.rolar .btn-contato button {
    border: 1px solid black;
    color: black;
}

header.rolar .btn-contato button:hover {
    background-color: black;
    color: white;
}

header.rolar .logo .logo-branca {
    display: none;
}
header.rolar .logo .logo-preta {
    display: block;
}

/* /MENU DINAMICO */

header .menu-desktop nav ul {
    list-style-type: none;
}

.menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

.menu-desktop nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .4s;
}

.menu-desktop nav a:hover {
    transform: scale(1.1);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

/* HERO */

section.hero-site {
    height: 95vh;
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    font-weight: 200;
    line-height: 70px;
}

.hero-site .txt-hero h1 span {
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0px;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* VANTAGENS */

section.vantagens {
    padding: 80px 0px;
}

.vantagens .itens-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-conteiner .img-itens img {
    max-width: 480px;
}

.vantagens .itens-conteiner .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-conteiner .txt-itens h3 span {
    font-weight: 300;
}

/* BOTÕES */

section.contato {
    background-color: white;
    padding: 80px 0px;
}

.txt-contato, .icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0px 60px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i {
    font-size: 20px;
}

.contato .icons-contato button:hover {
    background-color: black;
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p {
    color: white;
}

/* HOTÉIS */

section.hoteis {
    height: 600px;
    background-image: url(../images/hotel-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: white;
    text-align: center;
}

.hoteis > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoteis > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hoteis h2 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 300;
}

.hoteis h2 span {
    display: block;
    font-weight: 700;
}

.hoteis p {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
}

/* COMO FUNCIONA */

section.como-funciona {
    padding: 80px 0px;
}

.txt-funciona, .instrucoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    padding-bottom: 30px;
}

.como-funciona .txt-funciona h2 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.como-funciona .txt-funciona h2 span {
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    padding: 20px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0px 10px;
    transition: .5s;
}

footer .top-footer button:hover {
    background-color: white;
    color: black;
}

footer .middle-footer {
    margin: 20px 0px;
}

footer .middle-footer a {
    color: white;
    font-weight: bold;
    margin: 0px 15px;
    text-decoration: none;
}

footer .bottom-footer {
    border-top: 2px solid white;
}

footer .bottom-footer p{
    color: white;
    font-weight: 200;
    margin-top: 10px;
}